.App {

}

.container {
  width: 1140px;
  margin: 0 auto;
}

.posts {
  display: flex;
  margin-top: 30px;
}

.pub-date {
  color: gray;
  font-size: smaller;
}

.filter {
  margin-right: 20px;
}

.date {
  margin-bottom: 20px;
}

.submit {
  background-color: #282c34;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  font-size: calc(10px + 2vmin);
  border: none;
}
.submit:hover {
  background-color: #5e6d8b;
}

.title {
  margin: 0;
}





@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
    background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}


@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}