.posts {
    display: flex;
    flex-direction: row;
    display: flex;
    margin-top: 30px;
}

.list {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 22px;
    margin: 0;
}


.pub-date {
    color: gray;
    font-size: smaller;
}

.filter {
    margin-right: 20px;
}

.date {
margin-bottom: 20px;
}

.submit {
background-color: #282c34;
cursor: pointer;
color: #fff;
padding: 10px 20px;
font-size: calc(10px + 2vmin);
border: none;
}
.submit:hover {
background-color: #5e6d8b;
}